
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Lecture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Students" asp-action="List">Students <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Professors" asp-action="Index">Professors</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Groups" asp-action="Index">Groups</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Evaluations" asp-action="List">Evaluations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="showStudent">Show Student</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
