@model Lecture.Models.Student
@{
    ViewBag.Title = "New Student";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Students"))
{
    <div class="form-group">
        @Html.LabelFor( m => m.Name)
        @Html.TextBoxFor( m => m.Name, new { @class = "form-control", @placeholder = "Enter student's name" })
    </div>
}
